{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0
  }
}