.App {
    text-align: center;
    margin: auto;
}

.App-logo {
    height: 150px;
}

.App-header {
    /* min-height: 20vh; */
    display: flex;
    flex-direction: row nowrap;
    flex-flow: space-around;
    align-items: center;
    color: black;
    font-size: xx-large;
}

.App-nav {
    display: flex;
    margin-left: auto;
}

.App-nav-item {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    vertical-align: baseline;
}

.App-nav-item:hover {
    background: #bfbfbf;
}

.App-link {
    color: #09d3ac;
}