.App {
    text-align: center;
    margin: auto;
}

.App-logo {
    height: 150px;
}

.App-header {
    /* min-height: 20vh; */
    display: flex;
    flex-direction: row nowrap;
    flex-flow: space-around;
    align-items: center;
    color: black;
    font-size: xx-large;
}

.App-nav {
    display: flex;
    margin-left: auto;
}

.App-nav-item {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    vertical-align: baseline;
    text-decoration: none;
}

.App-nav-item:hover {
    background: #bfbfbf;
}

.App-button {
    border: none;
    border-radius: 1px;
    font-size: 150%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.App-button:hover {
    border-radius: 1px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 14px #a31212;
    -moz-box-shadow: 0px 0px 14px #a31212;
    -webkit-box-shadow: 0px 0px 14px #a31212;
}

.App-button:focus {
    outline: none;
}