@import "./fonts.css";
body {
    background-color: #dfdfdf;
    margin: 0;
}

* {
    margin: 0px;
    color: var(--black);
    font-family: 'Inconsolata', sans-serif;
}

code {
    font-family: 'Inconsolata', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 1em;
    font-family: 'McLaren', sans-serif;
}

p {
    font-family: 'Yeon Sung', sans-serif;
    margin: 1em 4em;
    word-wrap: break-word;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}